* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    
}

header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGXMS33CHMJWM62xaQtC51dkvSPBb5jHslhWQ0iq5QgQ027wwj4eEyhkk&s=10');
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 10px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 100vh;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOaP-BBR9Fa1WNP4NQvWK61K42u3--etDy1A&s') no-repeat center center/cover;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.5rem;
}

section {
    padding: 3rem 0;
}

#about, #books, #contact {
    background-color: #f4f4f4;
    padding: 3rem 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.book-item {
    background: white;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-item h3 {
    margin-bottom: 1rem;
}

footer {
    background-color: transparent;
    color:black;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    header .container {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
    }

    header ul li {
        margin: 10px 0;
    }
}